doctype html
head
  title N&#x1ED9;i dung gi&#x1ECF; h&agrave;ng - Gi&#x1ECF; H&agrave;ng DTPBook
  meta(http-equiv='Content-Type', content='text/html; charset=utf-8', data-ca-mode='')
  meta(name='viewport', content='initial-scale=1.0, width=device-width')
  meta(name='description', content='Danh mục tổng hợp tất cả các sản phẩm khách hàng yêu thích chọn và có ý định sẽ mua. Giúp khách hàng theo dõi đơn hàng của mình dễ dàng hơn.')
  meta(name='keywords', content='gio hang, giỏ hàng, DTPBook')
  link(type='text/css', rel='stylesheet', href='/css/thanhvien.css')
  link(rel='stylesheet', href='/css/footer.css',type='text/css')
  style.
    table{
    border: none;
    width: 50%;
    }
    .box-content-notification {
    display: inline-block;
    height: 100%;
    border-left: 1px solid #ebebeb;
    padding: 10px 0px 0px 0px;
    min-height: 515px;
    width: 100%;
    margin-top: 30px;
    }
    * {
    margin: 0;
    padding: 0;
    }
    /*==Style cơ bản cho website==*/
    body {
    font-family: sans-serif;
    color: #333;
    /* background-image: url(images/nen5.jpg); */
    }
    /*==Style cho menu===*/
    #menu ul {
    background:black;
    list-style-type: none;
    text-align: center;
    }
    #menu li {
    color: #f1f1f1;
    display: inline-block;
    width: 150px;
    height: 40px;
    line-height: 70px;
    margin-left: -5px;
    }
    #menu a {
    text-decoration: none;
    color: #fff;
    display: block;
    }
    #menu a:hover {
    background: #F1F1F1;
    color: #333;
    }
    /*==Dropdown Menu==*/
    .sub-menu {
    display: none;
    position: absolute;
    }
    #menu li {
    position: relative;
    }
    #menu li:hover .sub-menu {
    display: block;
    }
    .sub-menu li {
    margin-left: 0 !important;
    }
    /*==Menu cấp 3==*/
    .sub-menu > ul {
    display: none !important;
    }
    .in[type=text] {
    height: 45px;
    width: 375%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('images/search.png');
    background-position: 2px 3px;
    background-repeat: no-repeat;
    background-size: 35px;
    padding: 12px 20px 12px 40px;
    }
  style(type='text/css').
    .cm-noscript {display:none}
  style(type='text/css').
    @keyframes tawkMaxOpen{0%{opacity:0;transform:translate(0, 30px);;}to{opacity:1;transform:translate(0, 0px);}}@-moz-keyframes tawkMaxOpen{0%{opacity:0;transform:translate(0, 30px);;}to{opacity:1;transform:translate(0, 0px);}}@-webkit-keyframes tawkMaxOpen{0%{opacity:0;transform:translate(0, 30px);;}to{opacity:1;transform:translate(0, 0px);}}#zq51uAv-1576341092310{outline:none!important;visibility:visible!important;resize:none!important;box-shadow:none!important;overflow:visible!important;background:none!important;opacity:1!important;filter:alpha(opacity=100)!important;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity1)!important;-moz-opacity:1!important;-khtml-opacity:1!important;top:auto!important;right:10px!important;bottom:90px!important;left:auto!important;position:fixed!important;border:0!important;min-height:0!important;min-width:0!important;max-height:none!important;max-width:none!important;padding:0!important;margin:0!important;-moz-transition-property:none!important;-webkit-transition-property:none!important;-o-transition-property:none!important;transition-property:none!important;transform:none!important;-webkit-transform:none!important;-ms-transform:none!important;width:auto!important;height:auto!important;display:none!important;z-index:2000000000!important;background-color:transparent!important;cursor:auto!important;float:none!important;border-radius:unset!important;pointer-events:auto!important}#FE7k1Hv-1576341092313.open{animation : tawkMaxOpen .25s ease!important;}
style(type='text/css').
  header{
  border:1px solid #ccc;
  background-color:black;
  color:white;
  text-align:center;
  padding-bottom:25px;
  }
header
  nav
    #menu
      ul
        li
          a(href='/users', style='font-size: x-large;') DTPBook
        li
          form(action='/users', method='GET')
            input.in(type='text', name='q', placeholder='Search..')
        li
          div(style='display: inline-block;')
        li
          div(style='display: inline-block;')
        li
          div(style='display: inline-block;')
        li
          a(href='/users') Home
        
        li
          a(href='/users/menu?page=1') Menu
        li
          a(href='#',style=" padding-top: 12.8; border-top-width: 20px; padding-top: 13px; padding-bottom: -4px;") T&agrave;i kho&#x1EA3;n
          ul.sub-menu
            li
              a(href='/users/UsersTK') Th&ocirc;ng tin t&agrave;i kho&#x1EA3;n
            li
              a(href='/users/repassword') Đổi mật khẩu
            li
              a(style='color: chocolate;', href='/users/clearCookie') Tho&aacute;t
        li
          img(src='/images/gh.png', alt='ảnh.png', width='38', height='39', usemap='#map')
          map(name='map')
            area(shape='rect',coords='-1,0,790,745', href='/users/giohang')
br
br
if GH
  .tygh-content.clearfix
    .container.content-grid
      .row
        .span11.main-content-cart
          .ty-mainbox-container.clearfix
            .ty-mainbox-body
              - for(var x = 0; x < GH.length; x++)
                  form(name='checkout_form', action='/users/giohang', method='POST')
                    if x == 0
                      h2.title-section
                        | GI&#x1ECE; H&Agrave;NG 
                        span= '('+SL.toString()+' sản phẩm)'
                      if thieuhang
                        p = thieuhang
                    .hidden
                      button#button_cart.ty-btn__secondary.ty-btn(type='submit', name='dispatch[checkout.update]') T&iacute;nh l&#x1EA1;i
                    div
                      .ty-mainbox-cart__body
                        #cart_items
                          table.ty-cart-content.ty-table
                            tbody
                              tr
                                td.ty-cart-content__product-elem.ty-cart-content__image-block
                                  #product_image_update_4228350411.ty-cart-content__image.cm-reload-4228350411
                                    img#det_img_4228350411.ty-pict.cm-image(src='/images/'+GH[x].IDSach.toString()+'.jpg', alt='', title='')
                                td.ty-cart-content__product-elem.ty-cart-content__description
                                  a(style='font-size:20px').ty-cart-content__product-title=GH[x].TenSach.toString()
                                  #options_4228350411.ty-product-options.ty-group-block
                                    bdi
                                      #product_info_update_4228350411.cm-reload-4228350411
                                        p
                                          
                                        #discount_4228350411.ty-group-block.hidden(title='Giảm giá')
                                          table.ty-cart-content__more-info.ty-table
                                            thead
                                              tr
                                                th.ty-cart-content__more-info-title Gi&aacute;
                                                th.ty-cart-content__more-info-title S&#x1ED1; l&#x1B0;&#x1EE3;ng
                                                
                                                th.ty-cart-content__more-info-title T&#x1ED5;ng
                                            tbody
                                              tr
                                                td
                                                  bdi
                                                    span#sec_original_price_4228350411.none 120.000
                                                    span.none &dstrok;
                                                td.ty-center 1
                                                td
                                                  bdi
                                                    span#sec_discount_subtotal_4228350411.none 24.000
                                                    span.none &dstrok;
                                                td
                                                  bdi
                                                    span#sec_product_subtotal_2_4228350411.none 9.000
                                                    span.none &dstrok;
                                        
                                  .clearfix(style='margin-top:25px')
                                    button.btn-delete-cart(title='Loại bỏ',type='submit') X&oacute;a
                                    
                                td#price_display_update_4228350411.ty-cart-content__product-elem.ty-cart-content__price.cm-reload-4228350411
                                  span.price-sale
                                    bdi
                                      span#sec_product_price_4228350411.ty-sub-price= (GH[x].Gia).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.")
                                      span.ty-sub-price= '$'
                                  
                                  // price_display_update_4228350411
                                td.ty-cart-content__product-elem.ty-cart-content__qty
                                  #quantity_update_4228350411.quantity.cm-reload-4228350411
                                    input(type='hidden', name='baby', value=GH[x].IDSach.toString())
                                    label(for='amount_4228350411')
                                    .ty-center.ty-value-changer.cm-value-changer
                                      button.btn.btn-primary.ty-value-changer__decrease.cm-external-click(type='button',onclick='giam('+x+','+GH[x].Gia+','+Gia+')') &minus;
                                      input#GH.ty-value-changer__input.cm-amount(type='number', size='3', name='slg', value=GH[x].SoLuong.toString())
                                      button.cm-increase_pro.ty-value-changer__increase.cm-external-click(type='button',onclick='tang('+x+','+GH[x].Gia+','+GH[x].SL+')') +
                                
              // Inline script moved to the bottom of the page
              style(type='text/css').
                .tygh-top-panel {
                  background: #fff;
                  margin-bottom: 40px;
                }
        form(action="/users/giohang",method='POST')
          .span5
            #checkout_info_summary_280.ty-checkout-summary.cm-reload
              .widget-box.widget-cart
                .order-info
                  -for(var x = 0; x < GH.length; x++)
                      input(type="hidden",name='user_data[idsach]',value=GH[x].IDSach.toString())
                      input(type='hidden',name='user_data[slg]',value=GH[x].SoLuong.toString(),id='slg'+x.toString())
                  span.text-total-cart
                    | T&#x1EA1;m t&iacute;nh: 
                    strong
                      bdi
                        span#tamtinh= Gia.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.")
                        | $
                span.text-total-order
                  | T&#x1ED5;ng ti&#x1EC1;n: 
                  strong
                    bdi
                      span#tongtien= Gia.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.")
                      | $
                    br
                    span.text-vat (&Dstrok;&atilde; bao g&#x1ED3;m VAT)
              .button-order
                input.btn-order(type='submit',value='Đặt hàng') 
if !GH
  .tygh-header.clearfix
    .container.header-grid
      .tygh-content.clearfix
        .container.content-grid
          .row
            .span16.main-content-cart
              .ty-mainbox-container.clearfix
                .ty-mainbox-body
                  // Inline script moved to the bottom of the page
                  // Inline script moved to the bottom of the page
                  p.ty-no-items Gi&#x1ECF; h&agrave;ng c&#x1EE7;a b&#x1EA1;n ch&#x1B0;a c&oacute; s&#x1EA3;n ph&#x1EA9;m
                  .buttons-container.wrap.no-products-cart
                    a.ty-btn.ty-btn__secondary(href='/users') Ti&#x1EBF;p t&#x1EE5;c mua h&agrave;ng
                  style(type='text/css').
                    .tygh-top-panel {
                      background: #fff;
                      margin-bottom: 40px;
                    }

footer(style=' margin-top: 115px; ')
  .splitter
  .bar
    .bar-wrap
      .social
        a.fb(href='#')
          span.icon1(data-icon1='f')
          span.info
            span.follow Become a fan Facebook
            span.num 9,999
        a.tw(href='#')
          span.icon1(data-icon1='T')
          span.info
            span.follow Follow us Twitter
            span.num 9,999
        a.rss(href='#')
          span.icon1(data-icon1='R')
          span.info
            span.follow Subscribe RSS
            span.num 9,999
      .clear
      table
        tr
          td(width='40%')
            .copyright
              h4.text(style='color:#ccc') DTPBook
          td(width='40%')
            .copyright
              ol
                h4.text(style='color:#ccc;') Chi Nh&aacute;nh
              li Hai B&agrave; Tr&#x1B0;ng
          td(width='40%')
            .copyright
              ol
                h4.text(style='color:#ccc;') &Dstrok;&#x1ECB;a ch&#x1EC9;
              li S&#x1ED1; 1 &Dstrok;&#x1EA1;i C&#x1ED3; Vi&#x1EC7;t
      br
      br
      .copyright(style='text-align: center;') &copy;  2014 All Rights Reserved
script.
  function giam(x,giasach,gia){
    var element = document.getElementsByTagName("input");
    if(parseInt(element[2+2*x].value) > 0){
      element[2+2*x].value =parseInt(element[2+2*x].value)-1;
      document.getElementById("tamtinh").innerHTML = (parseInt(document.getElementById("tamtinh").innerHTML.replace(/\./g,'')) - giasach).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.");
      document.getElementById("tongtien").innerHTML = (parseInt(document.getElementById("tongtien").innerHTML.replace(/\./g,'')) - giasach).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.");
      document.getElementById("slg"+x.toString()).value = parseInt(element[2+2*x].value);
    }
  }
  function tang(x,giasach,slcl){
    var element = document.getElementsByTagName("input");
    if(parseInt(element[2+2*x].value) < slcl){
      element[2+2*x].value =parseInt(element[2+2*x].value)+1;
      document.getElementById("tamtinh").innerHTML = (parseInt(document.getElementById("tamtinh").innerHTML.replace(/\./g,'')) + giasach).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.");
      document.getElementById("tongtien").innerHTML = (parseInt(document.getElementById("tongtien").innerHTML.replace(/\./g,'')) + giasach).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.");
      document.getElementById("slg"+x.toString()).value = parseInt(element[2+2*x].value);
    }  
  }
