doctype html
head
  title DTPBook
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(href='https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Great+Vibes&display=swap', rel='stylesheet')
  link(rel='stylesheet', href='/css/open-iconic-bootstrap.min.css')
  link(rel='stylesheet', href='/css/animate.css')
  link(rel='stylesheet', href='/css/owl.carousel.min.css')
  link(rel='stylesheet', href='/css/owl.theme.default.min.css')
  link(rel='stylesheet', href='/css/magnific-popup.css')
  link(rel='stylesheet', href='/css/aos.css')
  link(rel='stylesheet', href='/css/ionicons.min.css')
  link(rel='stylesheet', href='/css/bootstrap-datepicker.css')
  link(rel='stylesheet', href='/css/jquery.timepicker.css')
  link(rel='stylesheet', href='/css/flaticon.css')
  link(rel='stylesheet', href='/css/icomoon.css')
  link(rel='stylesheet', href='/css/style.css')
  link(rel='stylesheet', href='/css/search1.css')
  style.
    * {
    margin: 0;
    padding: 0;
    }
    /*==Style cơ bản cho website==*/
    body {
    font-family: sans-serif;
    color: #333;
    }
    /*==Style cho menu===*/
    #menu ul {
    /* background: #1F568B; */
    list-style-type: none;
    text-align: center;
    }
    #menu li {
    color: #f1f1f1;
    display: inline-block;
    width: 130px;
    height: 50px;
    line-height: 30px;
    line-break: 70px;
    margin-left: -5px;
    }
    #menu a {
    text-decoration: none;
    color: #fff;
    display: block;
    }
    #menu a:hover {
    background: #F1F1F1;
    color: #333;
    }
    /*==Dropdown Menu==*/
    .sub-menu {
    display: none;
    position: absolute;
    }
    #menu li {
    position: relative;
    }
    #menu li:hover .sub-menu {
    display: block;
    }
    .sub-menu li {
    margin-left: 1 !important;
    }
    /*==Menu cấp 3==*/
    .sub-menu > ul {
    display: none !important;
    }
.py-1.bg-black.top
  .container
    .row.no-gutters.d-flex.align-items-start.align-items-center.px-md-0
      .col-lg-12.d-block
        .row.d-flex
          .col-md.pr-4.d-flex.topper.align-items-center
            .icon.mr-2.d-flex.justify-content-center.align-items-center
              span.icon-phone2
            span.text + 1234 5678 98
          .col-md.pr-4.d-flex.topper.align-items-center
            .icon.mr-2.d-flex.justify-content-center.align-items-center
              span.icon-paper-plane
            span.text DTPBook@gmail.com
          .col-md-5.pr-4.d-flex.topper.align-items-center.text-lg-right.justify-content-end
            p.mb-0.register-link
              span Open hours:
              span Monday - Sunday
              span 8:00AM - 9:00PM
nav#ftco-navbar.navbar.navbar-expand-lg.navbar-dark.ftco_navbar.bg-dark.ftco-navbar-light
  .container
    a.navbar-brand(href='/home') DTPBook
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#ftco-nav', aria-controls='ftco-nav', aria-expanded='false', aria-label='Toggle navigation')
      span.oi.oi-menu
      |  Menu
    #menu.collapse.navbar-collapse
      form
        input(type='text', name='search', placeholder='Search..')
      ul.navbar-nav.ml-auto
        li.nav-item.active
          a.nav-link(href='/users') Home
        li.nav-item
          a.nav-link(href='/users/menu') Menu
        li.nav-item
          a.nav-link(href='#') T&agrave;i kho&#x1EA3;n
          ul.sub-menu
            li
              a(href='#') Th&ocirc;ng tin t&agrave;i kho&#x1EA3;n
            li
              a(style='color: chocolate;', href='/users/clearCookie') Tho&aacute;t
        li
          img(src='/images/gh.png', alt='ảnh.png', width='40', height='40')
// END nav
section.home-slider.owl-carousel.js-fullheight
  .slider-item.js-fullheight(style='background-image: url(/images/sach1.jpg);')
    .overlay
    .container
      .row.slider-text.js-fullheight.justify-content-center.align-items-center(data-scrollax-parent='true')
        .col-md-12.col-sm-12.text-center.ftco-animate
          span.subheading DTPBook
          h1.mb-4 Best Book Shop
  .slider-item.js-fullheight(style='background-image: url(/images/sach2.jpg);')
    .overlay
    .container
      .row.slider-text.js-fullheight.justify-content-center.align-items-center(data-scrollax-parent='true')
        .col-md-12.col-sm-12.text-center.ftco-animate
          span.subheading DTPBook
          h1.mb-4 Reputation Book Shop
  .slider-item.js-fullheight(style='background-image: url(/images/sach3.jpg);')
    .overlay
    .container
      .row.slider-text.justify-content-center.align-items-center(data-scrollax-parent='true')
        .col-md-12.col-sm-12.text-center.ftco-animate
          span.subheading DTPBook
          h1.mb-4 Variety Of Books
section.ftco-section.ftco-no-pt.ftco-no-pb
  .container-fluid
    .row
      .col-md-12
        .featured
          .row
            .col-md-3
              .featured-menus.ftco-animate
                .menu-img.img(style='background-image: url(/images/S002.jpg);')
                .text.text-center
                  h3 Cang Gi&#x1EA3; Kim Thu&#x1EAD;t S&#x1B0;
                  p
                    span Hiromu Arakawa
            .col-md-3
              .featured-menus.ftco-animate
                .menu-img.img(style='background-image: url(/images/S019.jpg);')
                .text.text-center
                  h3 CHO T&Ocirc;I XIN 1 V&Eacute; &Dstrok;I TU&#x1ED4;I TH&#x1A0;
                  p
                    span Nguy&#x1EC5;n Nh&#x1EAD;t &Aacute;nh
            .col-md-3
              .featured-menus.ftco-animate
                .menu-img.img(style='background-image: url(/images/S031.jpg);')
                .text.text-center
                  h3 S&#x1EF0; IM L&#x1EB6;NG C&#x1EE6;A B&#x1EA6;Y C&#x1EEA;U
                  p
                    span Thomas Harris
            .col-md-3
              .featured-menus.ftco-animate
                .menu-img.img(style='background-image: url(/images/S009.jpg);')
                .text.text-center
                  h3 &Dstrok;&#x1ECB;nh M&#x1EC7;nh Chi&#x1EBF;n Tranh
                  p
                    span Graham Allison
section.ftco-section.ftco-wrap-about
  .container
    .row
      .col-md-7.d-flex
        .img.img-1.mr-md-2(style='background-image: url(/images/about1.jpg);')
        .img.img-2.ml-md-2(style='background-image: url(/images/about2.jpg);')
      .col-md-5.wrap-about.pt-5.pt-md-5.pb-md-3.ftco-animate
        .heading-section.mb-4.my-5.my-md-0
          span.subheading About
          h2.mb-4 DTPBook
        p
          | S&aacute;ch l&agrave; m&#x1ED9;t c&aacute;nh c&#x1EED;a &dstrok;&#x1B0;a con ng&#x1B0;&#x1EDD;i &dstrok;i t&#x1EDB;i m&#x1ECD;i n&#x1A1;i , h&#x1B0;&#x1EDB;ng ch&uacute;ng ta &dstrok;&#x1EBF;n v&#x1EDB;i c&aacute;i &dstrok;&#x1EB9;p . Vi&#x1EC7;c &dstrok;&#x1ECD;c s&aacute;ch kh&ocirc;ng ch&#x1EC9; l&agrave; m&oacute;n &abreve;n tinh th&#x1EA7;y m&agrave; c&ograve;n l&agrave; ngu&#x1ED3;n s&#x1ED1;ng c&#x1EE7;a nhi&#x1EC1;u ng&#x1B0;&#x1EDD;i. Ch&uacute;ng t&ocirc;i h&acirc;n h&#x1EA1;nh l&agrave; ng&#x1B0;&#x1EDD;i &dstrok;em m&oacute;n &abreve;n &dstrok;&#x1EA5;y &dstrok;&#x1EBF;n cho b&#x1EA1;n.
        pc.time
          span
            | Mon - Fri 
            strong 8 AM - 11 PM
          span
            a(href='#') + 1-978-123-4567
          p
section#section-counter.ftco-section.ftco-counter.img.ftco-no-pt
  .container
    .row.d-md-flex
      .col-md-9
        .row.d-md-flex.align-items-center
          .col-md-6.col-lg-3.mb-4.mb-lg-0.d-flex.justify-content-center.counter-wrap.ftco-animate
            .block-18
              .text
                strong.number(data-number='18') 0
                span Years of Experienced
          .col-md-6.col-lg-3.mb-4.mb-lg-0.d-flex.justify-content-center.counter-wrap.ftco-animate
            .block-18
              .text
                strong.number(data-number='100') 0
                span Menus/Dish
          .col-md-6.col-lg-3.mb-4.mb-lg-0.d-flex.justify-content-center.counter-wrap.ftco-animate
            .block-18
              .text
                strong.number(data-number='50') 0
                span Staffs
          .col-md-6.col-lg-3.mb-4.mb-lg-0.d-flex.justify-content-center.counter-wrap.ftco-animate
            .block-18
              .text
                strong.number(data-number='15000') 0
                span Happy Customers
      .col-md-3.text-center.text-md-left
        p
section.ftco-section
  .container
    .row.no-gutters.justify-content-center.mb-5.pb-2
      .col-md-12.text-center.heading-section.ftco-animate
        span.subheading Prominent
        h2.mb-4 Our Book
    .row.no-gutters.d-flex.align-items-stretch
      - for (var x = 0; x < datas.length; x+=2)
        .col-md-12.col-lg-6.d-flex.align-self-stretch
          .menus.d-sm-flex.ftco-animate.align-items-stretch
            .menu-img.img(style='background-image: url(/images/'+datas[x].IDSach.toString()+'.jpg);background-size: 70%;')
            .text.d-flex.align-items-center
              div
                .d-flex
                  .one-half
                    h3= datas[x].TenSach.toString()
                  .one-forth
                    span.price= datas[x].Gia.toString()+'$'
                p
                  span= data[x].TacGia.toString()
                p
                  a.btn.btn-primary(href='#') Buy now
      - for (var x = 1; x < datas.length; x+=2)
        .col-md-12.col-lg-6.d-flex.align-self-stretch
          .menus.d-sm-flex.ftco-animate.align-items-stretch
            .menu-img.img(style='background-image: url(/images/'+datas[x].IDSach.toString()+'.jpg);background-size: 70%;')
            .text.d-flex.align-items-center
              div
                .d-flex
                  .one-half
                    h3= datas[x].TenSach.toString()
                  .one-forth
                    span.price= datas[x].Gia.toString()+'$'
                p
                  span= datas[x].TacGia.toString()
                p
                  a.btn.btn-primary(href='#') Buy now 
footer.ftco-footer.ftco-bg-dark.ftco-section
  .container
    .row.mb-5
      .col-md-6.col-lg-3
        .ftco-footer-widget.mb-4
          h2.ftco-heading-2 DTPBook
          p &Dstrok;&#x1ECB;a ch&#x1EC9; 
          ul.ftco-footer-social.list-unstyled.float-md-left.float-lft.mt-3
            li.ftco-animate
              a(href='#')
                span.icon-twitter
            li.ftco-animate
              a(href='#')
                span.icon-facebook
            li.ftco-animate
              a(href='#')
                span.icon-instagram
      .col-md-6.col-lg-3
        .ftco-footer-widget.mb-4
          h2.ftco-heading-2 Chi Nh&aacute;nh 
          ul.list-unstyled.open-hours
            li.d-flex
              span Hai B&agrave; Tr&#x1B0;ng
              span S&#x1ED1; 1 &Dstrok;&#x1EA1;i C&#x1ED3; Vi&#x1EC7;t 
      .col-md-6.col-lg-3
        .ftco-footer-widget.mb-4
          h2.ftco-heading-2 Instagram
          .thumb.d-sm-flex
            a.thumb-menu.img(href='#', style='background-image: url(/images/S001.jpg);')
            a.thumb-menu.img(href='#', style='background-image: url(/images/S002.jpg);')
            a.thumb-menu.img(href='#', style='background-image: url(/images/S003.jpg);')
          .thumb.d-flex
            a.thumb-menu.img(href='#', style='background-image: url(/images/S004.jpg);')
            a.thumb-menu.img(href='#', style='background-image: url(/images/S005.jpg);')
            a.thumb-menu.img(href='#', style='background-image: url(/images/S006.jpg);')
    .row
      .col-md-12.text-center
        p
          // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
          | Copyright &copy;
          script.
            document.write(new Date().getFullYear());
          |  All rights reserved | This template is made with 
          i.icon-heart(aria-hidden='true')
          |  by 
          a(href='https://colorlib.com', target='_blank') Colorlib
          // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
// loader
#ftco-loader.show.fullscreen
  svg.circular(width='48px', height='48px')
    circle.path-bg(cx='24', cy='24', r='22', fill='none', stroke-width='4', stroke='#eeeeee')
    circle.path(cx='24', cy='24', r='22', fill='none', stroke-width='4', stroke-miterlimit='10', stroke='#F96D00')
script(src='js/jquery.min.js')
script(src='js/jquery-migrate-3.0.1.min.js')
script(src='js/popper.min.js')
script(src='js/bootstrap.min.js')
script(src='js/jquery.easing.1.3.js')
script(src='js/jquery.waypoints.min.js')
script(src='js/jquery.stellar.min.js')
script(src='js/owl.carousel.min.js')
script(src='js/jquery.magnific-popup.min.js')
script(src='js/aos.js')
script(src='js/jquery.animateNumber.min.js')
script(src='js/bootstrap-datepicker.js')
script(src='js/jquery.timepicker.min.js')
script(src='js/scrollax.min.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false')
script(src='js/google-map.js')
script(src='js/main.js')
